@model Ecommerce.Models.TblUser
@{
    ViewData["Title"] = "Admin Home Page";
    Layout = "~/Areas/admin/Views/Shared/_AdminLayout.cshtml";
    IEnumerable<TblCart> carts= ViewBag.DonHangs;
    IEnumerable<TblUser> users = ViewBag.Users;
    IEnumerable<TblPromotion> promotions = ViewBag.Discount;
}


<nav class="layout-navbar container-xxl navbar navbar-expand-xl navbar-detached align-items-center bg-navbar-theme"
     id="layout-navbar">
    <div class="layout-menu-toggle navbar-nav align-items-xl-center me-3 me-xl-0 d-xl-none">
        <a class="nav-item nav-link px-0 me-xl-4" href="javascript:void(0)">
            <i class="bx bx-menu bx-sm"></i>
        </a>
    </div>

    <div class="navbar-nav-right d-flex align-items-center" id="navbar-collapse">

        <ul class="navbar-nav flex-row align-items-center ms-auto">
            <!-- Place this tag where you want the button to render. -->
            <li class="nav-item lh-1 me-3">
                <a class="github-button"
                   href="https://github.com/themeselection/sneat-html-admin-template-free"
                   data-icon="octicon-star"
                   data-size="large"
                   data-show-count="true"
                   aria-label="Star themeselection/sneat-html-admin-template-free on GitHub">Star</a>
            </li>

            <!-- User -->
            <li class="nav-item navbar-dropdown dropdown-user dropdown">
                <a class="nav-link dropdown-toggle hide-arrow" href="javascript:void(0);" data-bs-toggle="dropdown">
                    <div class="avatar avatar-online">
                        <img src="~/assets/img/users/@Model.UserPhoto" alt class="w-px-40 h-auto rounded-circle" />
                    </div>
                </a>
                <ul class="dropdown-menu dropdown-menu-end">
                    <li>
                        <a class="dropdown-item" href="#">
                            <div class="d-flex">
                                <div class="flex-shrink-0 me-3">
                                    <div class="avatar avatar-online">
                                        <img src="~/assets/img/users/@Model.UserPhoto" alt class="w-px-40 h-auto rounded-circle" />
                                    </div>
                                </div>
                                <div class="flex-grow-1">
                                    <span class="fw-semibold d-block">@Model.UserName</span>
                                    <small class="text-muted">@Model.UserRole</small>
                                </div>
                            </div>
                        </a>
                    </li>
                    <li>
                        <div class="dropdown-divider"></div>
                    </li>
                    <li>
                        <a class="dropdown-item" href="#">
                            <i class="bx bx-user me-2"></i>
                            <span class="align-middle">My Profile</span>
                        </a>
                    </li>
                    <li>
                        <div class="dropdown-divider"></div>
                    </li>
                    <li>
                        <a class="dropdown-item" href="/dang-xuat.html">
                            <i class="bx bx-power-off me-2"></i>
                            <span class="align-middle">Log Out</span>
                        </a>
                    </li>
                </ul>
            </li>
            <!--/ User -->
        </ul>
    </div>
</nav>

<div class="container-xxl flex-grow-1 container-p-y">
    <div class="row">
        <div class="col-lg-12 mb-4 order-0">
            <div class="card">
                <div class="d-flex align-items-end row">
                    <div class="col-sm-7">
                        <div class="card-body">
                            <h5 class="card-title text-primary">Congratulations @Model.UserName! 🎉</h5>
                            <p class="mb-4">
                                You have done <span class="fw-bold">72%</span> more sales today. Check your new badge in
                                your profile.
                            </p>

                            <a href="javascript:;" class="btn btn-sm btn-outline-primary">View Badges</a>
                        </div>
                    </div>
                    <div class="col-sm-5 text-center text-sm-left">
                        <div class="card-body pb-0 px-0 px-md-4">
                            <img src="../assets/img/illustrations/man-with-laptop-light.png"
                                 height="140"
                                 alt="View Badge User"
                                 data-app-dark-img="illustrations/man-with-laptop-dark.png"
                                 data-app-light-img="illustrations/man-with-laptop-light.png" />
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Total Revenue -->
        <div class="col-12 col-lg-12 order-2 order-md-3 order-lg-2 mb-4">
            <div class="row">
                <div class="col-lg-3 col-md-12 col-6 mb-4">
                    <div class="card">
                        <div class="card-body">
                            <div class="card-title d-flex align-items-start justify-content-between">
                                <div class="avatar flex-shrink-0">
                                    <img src="~/assets/img/icons/unicons/cart-regular-48.png"
                                         alt="chart success"
                                         class="rounded" />
                                </div>
                            </div>
                            <span class="fw-semibold d-block mb-1">Tổng Đơn Hàng</span>
                            <h3 class="card-title mb-2">@carts.Count()</h3>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-12 col-6 mb-4">
                    <div class="card">
                        <div class="card-body">
                            <div class="card-title d-flex align-items-start justify-content-between">
                                <div class="avatar flex-shrink-0">
                                    <img src="~/assets/img/icons/unicons/user-regular-48.png"
                                         alt="Credit Card"
                                         class="rounded" />
                                </div>
                            </div>
                            <span class="fw-semibold d-block mb-1">Tổng Số Tài Khoản</span>
                            <h3 class="card-title text-nowrap mb-1">@users.Count()</h3>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-12 col-6 mb-4">
                    <div class="card">
                        <div class="card-body">
                            <div class="card-title d-flex align-items-start justify-content-between">
                                <div class="avatar flex-shrink-0">
                                    <img src="~/assets/img/icons/unicons/bank-solid-48.png"
                                         alt="chart success"
                                         class="rounded" />
                                </div>
                            </div>
                            <span class="fw-semibold d-block mb-1">Số Tiền Thu Được</span>
                            <h3 class="card-title mb-2">@carts.Sum(x => Convert.ToInt32( x.TotalPrice)).ToString("#,##0")</h3>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-12 col-6 mb-4">
                    <div class="card">
                        <div class="card-body">
                            <div class="card-title d-flex align-items-start justify-content-between">
                                <div class="avatar flex-shrink-0">
                                    <img src="~/assets/img/icons/unicons/discount-solid-48.png"
                                         alt="Credit Card"
                                         class="rounded" />
                                </div>
                            </div>
                            <span class="fw-semibold d-block mb-1">Số Khuyến Mãi</span>
                            <h3 class="card-title text-nowrap mb-1">@promotions.Count()</h3>
                            
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!--/ Total Revenue -->
    </div>
</div>
