@model Ecommerce.Models.TblPromotion

@{
    ViewData["Title"] = "Details";
    Layout = "~/Areas/admin/Views/Shared/_AdminLayout.cshtml";
}

<h1>Details</h1>

<div>
    <h4>TblPromotion</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PromoName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PromoName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PromoDiscount)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PromoDiscount)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PromoSdate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PromoSdate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PromoEdate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PromoEdate)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.PromoId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
