@using PagedList.Core.Mvc;
@model PagedList.Core.IPagedList<Ecommerce.Models.TblProduct>
@{
    int CurrentPage = ViewBag.CurrentPage;
    ViewData["Title"] = "Trang Mua Sắm" + CurrentPage;
}

<div class="hero">
	<div class="container">
		<div class="row justify-content-between">
			<div class="col-lg-5">
				<div class="intro-excerpt">
					<p><i class='bx bx-search-alt-2'></i>Tìm kiếm Sản Phâm</p>
					<input id="keyword" name="keyword" type="text" class="form-control" placeholder="Tên Sản Phẩm">
				</div>
			</div>
			<div class="col-lg-7">
				<div class="hero-img-wrap">
					<img src="~/assets/img/backgrounds/iphone-13-pro-png.png" class="img-fluid ms-lg-5" style="max-width: 300px"/>
				</div>
			</div>
		</div>
	</div>
</div>

<div class="untree_co-section product-section before-footer-section">
	<div class="container">
		<div class="row" id="records_table">
			@if(Model != null)
			{
				foreach(var item in Model)
				{
					string url = $"/shop/{item.ProductSeo}-{item.ProductId}.html";
					<div class="col-12 col-md-4 col-lg-3 mb-5 mb-md-0 mt-5">
						<div class="product-item">
							<a href="@url">
								<img src="~/assets/img/products/@item.ProductPic" class="img-fluid product-thumbnail">
								<h3 class="product-title">@item.ProductName</h3>
								<strong class="product-price">@((item.ProductPrice).Value.ToString("#,##0"))VNĐ </strong>
							</a>
						</div>
					</div>
				}
			}
		</div>
		<div class="demo-inline-spacing ms-lg-5 mt-5">
			<!-- Basic Pagination -->
			<nav aria-label="Page navigation">
				<ul class="pagination">
					<li class="page-item prev">
						<form asp-action="Index" asp-controller="Shop">
							<input type="hidden" name="page" value="@((CurrentPage > 1 ? CurrentPage-1 : 1).ToString())" />
							<button class="page-link" type="submit">
								<i class="tf-icon bx bx-chevron-left"></i>
							</button>
						</form>
					</li>
					<li class="page-item active">
						<a class="page-link" href="javascript:void(0);">@CurrentPage</a>
					</li>
					<li class="page-item next">
						<form asp-action="Index" asp-controller="Shop">
							<input type="hidden" name="page" value="@((CurrentPage < Model.PageCount ? CurrentPage+1 : CurrentPage).ToString())" />
							<button class="page-link" type="submit">
								<i class="tf-icon bx bx-chevron-right"></i>
							</button>
						</form>
					</li>
				</ul>
			</nav>
			<!--/ Basic Pagination -->
		</div>
	</div>
</div>

@section Scripts{
	<script>
		$(document).ready(function () {
			$("#keyword").keyup(function () {
				var strkeyword = $('#keyword').val();
				$.ajax({
					url: '/Search/FindProduct',
					datatype: "json",
					type: "POST",
					data: { keyword: strkeyword },
					async: true,
					success: function (results) {
						$("#records_table").html("");
						$("#records_table").html(results);
					},
					error: function (xhr) {
						alter('error');
					}
				});
			});
			$(".add-to-cart").click(function () {
				var productid = $('#ProductId').val();
				var soLuong = $('#txtsoLuong').val();
				$.ajax({
					url: '/api/cart/add',
					type: "POST",
					dataType: "JSON",
					data: {
						productId: productid,
						amount: soLuong
					},
					success: function (response) {
						if (response.result == 'Redirect') {
							window.location = response.url;
						}
						console.log(reponse);
					},
					error: function (erro) {
						alert("Có một lỗi posting dữ liệu lên csdl: " + erro.responseText);
					}
				});
			});
		});

	</script>
}