@using PagedList.Core.Mvc;
@model PagedList.Core.IPagedList<Ecommerce.Models.TblProduct>
@{
	IEnumerable<TblTopCategory> Tcats = ViewBag.TCats;
	IEnumerable<TblMidCategory> Mcats = ViewBag.MCats;
	IEnumerable<TblEndCategory> Ecats = ViewBag.ECats;
	TblEndCategory ecat = ViewBag.Type;
	int CurrentPage = ViewBag.CurrentPage;
    ViewData["Title"] = "Trang Mua Sắm" + CurrentPage;
}

<div class="hero">
	<div class="container">
		<div class="row justify-content-between">
			<div class="col-lg-8">
				<div class="row">
					<div class="intro-excerpt col-lg-6">
						<p><i class='bx bx-search-alt-2'></i>Tìm kiếm Sản Phâm</p>
						<input id="keyword" name="keyword" type="text" class="form-control" placeholder="Tên Sản Phẩm">
					</div>
					<div class="intro-excerpt col-lg-6 row">
						<p>Ngành Sản Phẩm</p>
							<form asp-action="Index" asp-controller="Shop">
								<select class="form-control" id="txtCatID" name="type">
									<option selected value="0">All</option>
									@foreach (var item in Ecats)
									{
										<option value="@item.EcatId">@item.EcatName</option>
									}
								</select>
								<input type="hidden" value="1" name="page"/>
								<input class="btn btn-sm btn-outline-primary mt-3" type="submit" value="Tìm" />
							</form>
					</div>
				</div>
			</div>
			<div class="col-lg-4">
				<div class="hero-img-wrap">
					<img src="~/assets/img/backgrounds/iphone-13-pro-png.png" class="img-fluid ms-lg-5" style="max-width: 300px"/>
				</div>
			</div>
		</div>
	</div>
</div>

<div class="untree_co-section product-section before-footer-section">
	<div class="container">
		<div>
			@{
				if (ecat != null)
				{
									<h3>Ngành Hàng: @ecat.EcatName</h3>
				}
				else
				{
									<h3>Ngành Hàng: Tất Cả</h3>
				}
			}
		</div>
		<div class="row" id="records_table">
			@if(Model != null)
			{
				foreach(var item in Model)
				{
					if (item.TblProductsPromotions.FirstOrDefault(x => x.ProductId == item.ProductId) != null)
					{
						string url = $"/shop/{item.ProductSeo}-{item.ProductId}.html";
						<div class="col-12 col-md-4 col-lg-3 mb-5 mb-md-0 mt-5">
							<div class="product-item">
								<a href="@url">
									<img src="~/assets/img/products/@item.ProductPic" class="img-fluid product-thumbnail">
									<h3 class="product-title">@item.ProductName</h3>
									<p class="product-price text-decoration-line-through">@item.ProductPrice.Value.ToString("#,##0")VNĐ</p>
									<strong class="product-price">@((item.ProductPrice - (item.ProductPrice * item.TblProductsPromotions.FirstOrDefault(x => x.ProductId == item.ProductId).Promo.PromoDiscount / 100)).Value.ToString("#,##0"))VNĐ </strong>
								</a>
							</div>
						</div>
					}
					else
					{
						string url = $"/shop/{item.ProductSeo}-{item.ProductId}.html";
						<div class="col-12 col-md-4 col-lg-3 mb-5 mb-md-0 mt-5">
							<div class="product-item">
								<a href="@url">
									<img src="~/assets/img/products/@item.ProductPic" class="img-fluid product-thumbnail">
									<h3 class="product-title">@item.ProductName</h3>
									<strong class="product-price">@((item.ProductPrice).Value.ToString("#,##0"))VNĐ </strong>
								</a>
							</div>
						</div>
					}
					
				}
			}
		</div>
		<div class="demo-inline-spacing ms-lg-5 mt-5">
			<!-- Basic Pagination -->
			<nav aria-label="Page navigation">
				<ul class="pagination">
					<li class="page-item prev">
						<form asp-action="Index" asp-controller="Shop">
							<input type="hidden" name="page" value="@((CurrentPage > 1 ? CurrentPage-1 : 1).ToString())" />
							<button class="page-link" type="submit">
								<i class="tf-icon bx bx-chevron-left"></i>
							</button>
						</form>
					</li>
					<li class="page-item active">
						<a class="page-link" href="javascript:void(0);">@CurrentPage</a>
					</li>
					<li class="page-item next">
						<form asp-action="Index" asp-controller="Shop">
							<input type="hidden" name="page" value="@((CurrentPage < Model.PageCount ? CurrentPage+1 : CurrentPage).ToString())" />
							<button class="page-link" type="submit">
								<i class="tf-icon bx bx-chevron-right"></i>
							</button>
						</form>
					</li>
				</ul>
			</nav>
			<!--/ Basic Pagination -->
		</div>
	</div>
</div>

@section Scripts{
	<script>
		$(document).ready(function () {

			jQuery("#txtCatID").change(function () {
				var CatId = jQuery(this).children(":selected").attr("value");
				CatId = parseFloat(CatId);
				$('#txtCatID option')
					.removeAttr('selected');
				$("#txtCatID > [value=" + CatId + "]").attr("selected", "true");
				$ajax({
					url: '/Shop/Filter',
					datatype: "json",
					type: "GET",
					data: {
						type: CatId
					},
					async: true,
					success: function (results) {
						if (results.status == "success") {
							window.location.href = results.redirectUrl;
						}
					},
					error: function (xhr) {
						alert("error");
					}
				});
			});

			$("#keyword").keyup(function () {
				var strkeyword = $('#keyword').val();
				$.ajax({
					url: '/Search/FindProduct',
					datatype: "json",
					type: "POST",
					data: { keyword: strkeyword },
					async: true,
					success: function (results) {
						$("#records_table").html("");
						$("#records_table").html(results);
					},
					error: function (xhr) {
						alter('error');
					}
				});
			});

			$(".add-to-cart").click(function () {
				var productid = $('#ProductId').val();
				var soLuong = $('#txtsoLuong').val();
				$.ajax({
					url: '/api/cart/add',
					type: "POST",
					dataType: "JSON",
					data: {
						productId: productid,
						amount: soLuong
					},
					success: function (response) {
						if (response.result == 'Redirect') {
							window.location = response.url;
						}
						console.log(reponse);
					},
					error: function (erro) {
						alert("Có một lỗi posting dữ liệu lên csdl: " + erro.responseText);
					}
				});
			});

		});

	</script>
}