@model Ecommerce.Models.TblCustomer

@{
    ViewData["Title"] = "Details";
    Layout = "~/Areas/admin/Views/Shared/_AdminLayout.cshtml";
}

<h1>Details</h1>

<div>
    <h4>TblCustomer</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CustName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CustName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CustLname)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CustLname)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CustEmail)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CustEmail)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CustPhone)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CustPhone)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CustAddress)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CustAddress)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CustCity)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CustCity)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CustSate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CustSate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CustZip)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CustZip)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CustDatetime)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CustDatetime)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CustStatus)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CustStatus)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.CustId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
