@using PagedList.Core.Mvc
@model PagedList.Core.IPagedList<Ecommerce.Models.TblCustomer>

@{
    int CurrentPage = ViewBag.CurrentPage;
    ViewData["Title"] = "Danh Sách Khách Hàng" + CurrentPage;
    Layout = "~/Areas/admin/Views/Shared/_AdminLayout.cshtml";
}

<div class="content-wrapper">
    <!-- Content -->

    <div class="container-xxl flex-grow-1 container-p-y">
        <h4 class="fw-bold py-3 mb-4"><span class="text-muted fw-light">Quản Lý Khách Hàng /</span> Danh Sách Khách Hàng</h4>

        <!-- Basic Bootstrap Table -->
        <div class="card">
            <div class="row">
                <h5 class="card-header col">Danh Sách Khách Hàng: Trang @CurrentPage</h5>
            </div>
            <div class="table-responsive text-nowrap">
                <table class="table">
                    <thead>
                        <tr>
                            <th>ID Khách Hàng</th>
                            <th>Tên Khách Hàng</th>
                            <th>Số Điện Thoại</th>
                            <th>Email</th>
                            <th>Địa Chỉ</th>
                            <th>Thành Phố</th>
                            <th>Thao Tác</th>
                        </tr>
                    </thead>
                    <tbody class="table-border-bottom-0">
                        @if(Model != null)
                        {
                            @foreach(var item in Model)
                            {
                                <tr>
                                    <td>@item.CustId</td>
                                    <td><i class="fab fa-angular fa-lg text-danger me-3"></i> <strong>@item.CustName</strong></td>
                                    <td>@item.CustPhone</td>
                                    <td>@item.CustEmail</td>
                                    <td>@item.CustAddress</td>
                                    <td>@item.CustCity</td>
                                    <td class="row">
                                        <a asp-action="Details" asp-controller="Customers" asp-area="admin" asp-route-id="@item.CustId" class="btn btn-outline-primary col-3 mt-2">Details</a>
                                        <form asp-action="Delete" class="col">
                                            <input type="hidden" name="id" value="@item.CustId" />
                                            <input type="submit" value="Delete" class="btn btn-outline-danger mt-2" />
                                        </form>
                                    </td>
                                </tr>
                            }
                        }
                    </tbody>
                </table>
                <div class="demo-inline-spacing ms-lg-5">
                    <!-- Basic Pagination -->
                    <nav aria-label="Page navigation">
                        <ul class="pagination">
                            <li class="page-item prev">
                                <form asp-action="Index" asp-area="admin" asp-controller="Customers">
                                    <input type="hidden" name="page" value="@((CurrentPage > 1 ? CurrentPage-1 : 1).ToString())" />
                                    <button class="page-link" type="submit">
                                        <i class="tf-icon bx bx-chevron-left"></i>
                                    </button>
                                </form>
                            </li>
                            <li class="page-item active">
                                <a class="page-link" href="javascript:void(0);">@CurrentPage</a>
                            </li>
                            <li class="page-item next">
                                <form asp-action="Index" asp-area="admin" asp-controller="Customers">
                                    <input type="hidden" name="page" value="@((CurrentPage < Model.PageCount ? CurrentPage+1 : CurrentPage).ToString())" />
                                    <button class="page-link" type="submit">
                                        <i class="tf-icon bx bx-chevron-right"></i>
                                    </button>
                                </form>
                            </li>
                        </ul>
                    </nav>
                    <!--/ Basic Pagination -->
                </div>
            </div>
        </div>
    </div>
</div>