@using PagedList.Core.Mvc;

@model PagedList.Core.IPagedList<Ecommerce.Models.TblProduct>

@{
    int CurrentPage = ViewBag.CurrentPage;
    ViewData["Title"] = "Danh Sách Sản Phẩm" + CurrentPage;
    Layout = "~/Areas/admin/Views/Shared/_AdminLayout.cshtml";
}

<div class="content-wrapper">
    <!-- Content -->

    <div class="container-xxl flex-grow-1 container-p-y">
        <h4 class="fw-bold py-3 mb-4"><span class="text-muted fw-light">Quản Lý Ngành Hàng /</span> Sản Phẩm</h4>

        <!-- Basic Bootstrap Table -->
        <div class="card">
            <div class="navbar-nav ms-3 mt-2">
                <div class="nav-item d-flex align-items-center">
                    <i class="bx bx-search fs-4 lh-0"></i>
                    <input id="keyword" name="keyword" type="text" class="form-control border-0 shadow-none" placeholder="Search..." aria-label="Search...">
                </div>
            </div>
            <div class="row">
                <h5 class="card-header col">Danh Sách Sản Phẩm: Trang @CurrentPage</h5>
                <div class="col-2 pt-3">
                    <a asp-action="Create" asp-controller="Products" asp-area="admin" class="btn btn-primary">Tạo mới</a>
                </div>
            </div>
            <div class="table-responsive text-nowrap">
                <table class="table">
                    <thead>
                        <tr>
                            <th>ID Sản Phẩm</th>
                            <th>Tên Sản Phẩm</th>
                            <th>Hình Ảnh</th>
                            <th>Giá Bán</th>
                            <th>Tồn Kho</th>
                            <th>Trạng Thái</th>
                            <th>Thao Tác</th>
                        </tr>
                    </thead>
                    <tbody class="table-border-bottom-0" id="records_table">
                        @foreach (var item in Model)
                        {
                            <tr>
                                <td>@Html.DisplayFor(modelsitem => item.ProductId)</td>
                                <td><i class="fab fa-angular fa-lg text-danger me-3"></i> <strong>@Html.DisplayFor(modelsitem => item.ProductName)</strong></td>
                                <td>
                                    <div class="d-flex align-items-center">
                                        <img class="img-fluid rounded" src="~/assets/img/products/@item.ProductPic" style="max-width: 45px" alt="" />
                                    </div>
                                </td>
                                <td>@item.ProductPrice.Value.ToString("#,##0")VNĐ</td>
                                <td>@Html.DisplayFor(modelsitem => item.StockQuantity)</td>
                                <td>
                                    @if (item.ProductStatus == "Active")
                                    {
                                        <span class="badge badge bg-label-success me-1">Active</span>
                                    }
                                    else if (item.ProductStatus == "Hidden")
                                    {
                                        <span class="badge bg-label-warning me-1">Hidden</span>
                                    }
                                    else
                                    {
                                        <span class="badge bg-label-danger me-1">Unactive</span>
                                    }
                                </td>
                                <td class="row">
                                    <a class="btn btn-outline-primary col-3 mt-2" asp-route-id="@item.ProductId" asp-action="Details" asp-controller="Products" asp-area="admin"> Details</a>
                                    <a class="btn btn-outline-warning col-3 ms-3 mt-2" asp-route-id="@item.ProductId" asp-action="Edit" asp-controller="Products" asp-area="admin">Edit</a>
                                    <form asp-action="Delete" class="col">
                                        <input type="hidden" name="id" value="@item.ProductId" />
                                        <input type="submit" value="Delete" class="btn btn-outline-danger mt-2" />
                                    </form>
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
                <div class="demo-inline-spacing ms-lg-5">
                    <!-- Basic Pagination -->
                    <nav aria-label="Page navigation">
                        <ul class="pagination">
                            <li class="page-item prev">
                                <form asp-action="Index" asp-area="admin" asp-controller="Products">
                                    <input type="hidden" name="page" value="@((CurrentPage > 1 ? CurrentPage-1 : 1).ToString())" />
                                    <button class="page-link" type="submit">
                                        <i class="tf-icon bx bx-chevron-left"></i>
                                    </button>
                                </form>
                            </li>
                            <li class="page-item active">
                                <a class="page-link" href="javascript:void(0);">@CurrentPage</a>
                            </li>
                            <li class="page-item next">
                                <form asp-action="Index" asp-area="admin" asp-controller="Products">
                                    <input type="hidden" name="page" value="@((CurrentPage < Model.PageCount ? CurrentPage+1 : CurrentPage).ToString())" />
                                    <button class="page-link" type="submit">
                                        <i class="tf-icon bx bx-chevron-right"></i>
                                    </button>
                                </form>
                            </li>
                        </ul>
                    </nav>
                    <!--/ Basic Pagination -->
                </div>
            </div>
        </div>
    </div>
</div>


@section Scripts{
    <script>
        $(document).ready(function () {
            $("#keyword").keyup(function () { 
                var strkeyword = $('#keyword').val();
                $.ajax({
                    url: '/admin/Search/FindProduct',
                    datatype: "json",
                    type: "POST",
                    data: {keyword: strkeyword},
                    async: true,
                    success: function (results) { 
                        $("#records_table").html("");
                        $("#records_table").html(results);
                    },
                    error: function (xhr) {
                        alter('error');
                    }
                });
            });
        });
    </script>
}